body{
    font-family: sans-serif;
}

main{
    padding: 30px;
}

h1{
    font-size: 1.5rem;
}

ul{
    max-width: 400px;
    margin: 30px auto 0;
}
li{
    margin-bottom: 10px;
}
label{
    font-weight: 800;
}
span{
    background-color: red;
    color: #fff;
    float: right;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
}

.feito{
    color:green;
    font-style: italic;
    font-weight: 200;
    text-decoration: line-through;
}